.search-bar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: max-content;
  margin: 0 auto;
}

.search-bar > div {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.search-bar select {
  width: 14rem;
}

.search-bar input[type="radio"] {
  font-size: 1.4rem;
}
