.container {
  display: flex;
  flex-direction: row;
}

.map-container {
  width: 100%;
  height: 100%;
  margin-top: 1rem;
}

.kakao-map {
  width: 100%;
  height: calc(100vh - 30rem);
}

.list-container {
  width: 60rem;
  height: 100%;
}

.lost-map-wrap {
  padding: 1rem 2rem;
}

.lost-map-wrap .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
