/* 카카오맵 기본 말풍선 스타일 제거 */
.map-container :global(.kakao-map) div[style*="background"] {
  background: none !important;
  border: none !important;
  box-shadow: none !important;
}

.kakao-map > div > div > div > div {
  background: none !important;
  border: none !important;
  padding: 0 !important;
}

/* 말풍선 꼬리 */
.kakao-map > div > div > div > div > div {
  background: none !important;
}

/* marker */
.kakao-map img[src*="marker"] {
  display: none !important;
}

.marker-content {
  border: 1px solid #4245fc;
  background-color: #ffffff;
  border-radius: 0.5rem;
  padding: 1rem;
  z-index: 1;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  cursor: pointer;
}

.marker-detail:hover .marker-content,
.marker-detail:hover .marker-tail {
  background-color: #e7e7ff;
}

.marker-detail:hover .marker-tail {
  border-top-color: #e7e7ff;
  border-left-color: #e7e7ff;
}

.marker-content > div:nth-child(1) {
  font-weight: 700;
}
.marker-content > div:nth-child(2) {
  color: #4245fc;
  font-weight: 600;
}
.marker-content > div:nth-child(3) {
  color: #505050;
}

.marker-tail {
  background-color: #ffffff;
  display: block;
  content: "";
  width: 1rem;
  height: 1rem;
  border: 1px solid #4245fc;

  position: absolute;
  left: 50%;
  bottom: 0;
  transform: rotate(45deg);
  margin-left: -7px;
  border-top-color: #ffffff;
  border-left-color: #ffffff;
}
