@import url(https://fonts.googleapis.com/css?family=Lato:300);

html,
body {
  margin: 0;
  width: 100%;
  min-height: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  font-size: 10px;
  font-family: "NanumSquareRound";
}

#root {
  background-color: white;
  width: 100%;
  margin: 0 auto;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0 0 2.9rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#root .wrapper {
  padding: 0 1rem 2rem 1rem;
}

/* header */
#root .header {
  padding: 3rem 1rem 1rem 1rem;
  text-align: center;
  border-bottom: 0.1rem solid #efefef;
}
#root .header label {
  font-weight: 600;
  font-size: 2.2rem;
}

/* select, input */
#root select,
#root input {
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  font-family: "NanumSquareRound";
}
#root select {
  cursor: pointer;
  padding: 0.6rem 1rem 0.5rem 1rem;
  display: flex;
}
#root input {
  padding: 0.6rem 1rem 0.5rem 1rem;
}

#root .select-group,
#root .date-group {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

/* radio */
#root .radio-wrap {
  display: flex;
  gap: 0.5rem;
}

#root .radio-wrap label,
#root .radio-wrap input[type="radio"] {
  cursor: pointer;
}

/* label */
#root label {
  font-size: 1.5rem;
}

/* loading */
#root .loading {
  display: none;
}
#root .loading.active {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #000000;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  opacity: 0.7;

  text-align: center;
  overflow: hidden;
}

#root .loading .loader-text {
  color: white;
  font-size: 2rem;
  padding-left: 0.5rem;
}

#root .loading .box:nth-child(2n -1) {
  background-color: rgba(0, 0, 0, 0.05);
}

#root .loading .box {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  transition: all 0.2s ease;
}

#root .loading .box .loader::before {
  content: "";
  position: absolute;
  top: 0px;
  height: 1.2rem;
  width: 1.2rem;
  border-radius: 1.2rem;
  -webkit-animation: loader9g 3s ease-in-out infinite;
  animation: loader9g 3s ease-in-out infinite;
}

#root .loading .box .loader {
  position: relative;
  width: 12px;
  height: 12px;
  top: 46%;
  left: 46%;
  border-radius: 12px;
  background-color: #fff;
}

#root .loading .box .loader::after {
  content: "";
  position: absolute;
  top: 0px;
  height: 12px;
  width: 12px;
  border-radius: 12px;
  -webkit-animation: loader9d 3s ease-in-out infinite;
  animation: loader9d 3s ease-in-out infinite;
}

@-webkit-keyframes loader9g {
  0% {
    left: -25px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  50% {
    left: 0px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    left: -25px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes loader9g {
  0% {
    left: -25px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  50% {
    left: 0px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    left: -25px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

@-webkit-keyframes loader9d {
  0% {
    left: 25px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  50% {
    left: 0px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    left: 25px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes loader9d {
  0% {
    left: 25px;
    background-color: rgba(255, 255, 255, 0.8);
  }
  50% {
    left: 0px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  100% {
    left: 25px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

/* 필터바 */
.filter-bar > label {
  background-color: #efefef;
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  color: #414141;
  width: 6rem;
  text-align: center;
}

.filter-bar > label:hover {
  background-color: #ffd5e1;
}

.filter-bar > label.active {
  background-color: #ff9cb8;
  color: #ffffff;
}

.filter-bar > label.active::before {
  font-family: "Font Awesome 6 Free";
  font-weight: 500;
  content: "\f058";
  font-size: 1.2rem;
  margin-right: 0.5rem;
}

.filter-bar input {
  display: none;
}
