html,
body {
  margin: 0;
  width: 100%;
  background-color: rgb(246, 246, 246);
  display: flex;
  font-size: 10px;
}

#root {
  background-color: white;
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  height: 100%;
  box-shadow: rgba(100, 100, 100, 0.2) 0 0 2.9rem 0;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#root select {
  padding: 0.5rem 1rem;
  border: 0.1rem solid #dbdbdb;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}

#root .radio-wrap {
  display: flex;
  gap: 0.5rem;
}

#root .radio-wrap label,
#root .radio-wrap input[type="radio"] {
  cursor: pointer;
}

#root label {
  font-size: 1.5rem;
}
